<table
  width="100%"
  cellspacing="0"
  cellpadding="0"
  style="
    box-sizing: border-box;
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  "
  bgcolor="#f5f7fb"
>
  <tbody>
    <tr>
      <td
        align="center"
        valign="top"
        style="
          box-sizing: border-box;
          font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto,
            Helvetica Neue, Helvetica, Arial, sans-serif;
        "
      >
        <span
          style="
            box-sizing: border-box;
            font-size: 0;
            padding: 0;
            display: none;
            max-height: 0;
            line-height: 0;
            color: transparent;
            height: 0;
            max-width: 0;
            opacity: 0;
            overflow: hidden;
            width: 0;
          "
        ></span>
        <table
          cellspacing="0"
          cellpadding="0"
          style="
            box-sizing: border-box;
            font-family: Open Sans, -apple-system, BlinkMacSystemFont, Roboto,
              Helvetica Neue, Helvetica, Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            max-width: 640px;
            text-align: left;
          "
        >
          <tbody>
            <tr>
              <td
                style="
                  box-sizing: border-box;
                  font-family: Open Sans, -apple-system, BlinkMacSystemFont,
                    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
                  padding: 8px;
                "
              >
                <table
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    box-sizing: border-box;
                    font-family: Open Sans, -apple-system, BlinkMacSystemFont,
                      Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                  "
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          box-sizing: border-box;
                          font-family: Open Sans, -apple-system,
                            BlinkMacSystemFont, Roboto, Helvetica Neue,
                            Helvetica, Arial, sans-serif;
                          padding-top: 24px;
                          padding-bottom: 24px;
                        "
                      ></td>
                    </tr>
                  </tbody>
                </table>
                <div style="box-sizing: border-box">
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    style="
                      box-sizing: border-box;
                      font-family: Open Sans, -apple-system, BlinkMacSystemFont,
                        Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
                      border-collapse: collapse;
                      width: 100%;
                      border-radius: 3px;
                      border: 1px solid #f0f0f0;
                    "
                    bgcolor="#ffffff"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            box-sizing: border-box;
                            font-family: Open Sans, -apple-system,
                              BlinkMacSystemFont, Roboto, Helvetica Neue,
                              Helvetica, Arial, sans-serif;
                          "
                        >
                          <table
                            cellpadding="0"
                            cellspacing="0"
                            style="
                              box-sizing: border-box;
                              font-family: Open Sans, -apple-system,
                                BlinkMacSystemFont, Roboto, Helvetica Neue,
                                Helvetica, Arial, sans-serif;
                              border-collapse: collapse;
                              width: 100%;
                            "
                          >
                            <tbody>
                              <tr>
                                <td
                                  class="m_7733021676472710103content"
                                  align="center"
                                  style="
                                    box-sizing: border-box;
                                    margin: 0;
                                    width: 100%;
                                    font-family: Open Sans, -apple-system,
                                      BlinkMacSystemFont, Roboto, Helvetica Neue,
                                      Helvetica, Arial, sans-serif;
                                    padding: 40px 48px 0;
                                  "
                                >
                                  <table
                                    class="m_7733021676472710103bg-blue"
                                    cellspacing="0"
                                    cellpadding="0"
                                    style="
                                      box-sizing: border-box;
                                      font-family: Open Sans, -apple-system,
                                        BlinkMacSystemFont, Roboto,
                                        Helvetica Neue, Helvetica, Arial,
                                        sans-serif;
                                      padding: 0;
                                      border-collapse: separate;
                                      width: 72px;
                                      border-radius: 50%;
                                      line-height: 100%;
                                      font-weight: 300;
                                      height: 72px;
                                      font-size: 48px;
                                      text-align: center;
                                      color: #ffffff;
                                    "
                                    bgcolor="white"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          valign="middle"
                                          align="center"
                                          style="
                                            box-sizing: border-box;
                                            font-family: Open Sans,
                                              -apple-system, BlinkMacSystemFont,
                                              Roboto, Helvetica Neue, Helvetica,
                                              Arial, sans-serif;
                                          "
                                        >
                                          <img
                                            src="https://drive.google.com/uc?id=1xfx9AcC605x2626Vl18xXX7mT5H2IdxT"
                                            width="40"
                                            height="40"
                                            alt="message-square"
                                            style="
                                              box-sizing: border-box;
                                              max-width: 100%;
                                              line-height: 100%;
                                              border: 0 none;
                                              outline: none;
                                              text-decoration: none;
                                              vertical-align: middle;
                                              font-size: 0;
                                              display: block;
                                              width: 75px;
                                              height: 75px;
                                            "
                                            class="CToWUd"
                                            data-bit="iit"
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="m_7733021676472710103content"
                                  style="
                                    box-sizing: border-box;
                                    margin: 0;
                                    width: 100%;
                                    font-family: Open Sans, -apple-system,
                                      BlinkMacSystemFont, Roboto, Helvetica Neue,
                                      Helvetica, Arial, sans-serif;
                                    padding: 40px 48px;
                                  "
                                >
                                  <span class="im">
                                    <h2
                                      style="
                                        box-sizing: border-box;
                                        font-weight: bold;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      Your account is created
                                    </h2>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      With Ovioo, creating design tasks is
                                      hassle-free. Just submit your task, and
                                      our experts will work their magic to
                                      deliver the desired results within a short
                                      timeframe.
                                    </p>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      And that's not all! We want to ensure you
                                      have a great effortless experience, so
                                      we're offering you an exclusive onboarding
                                      call. One of our Account Managers will
                                      walk you through the app and address any
                                      queries you may have.
                                    </p>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      Ready to get started? Dive into the world
                                      of design with Ovioo using the login
                                      details below
                                    </p>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      <span style="font-weight: bold">
                                        Email:
                                      </span>
                                      <%= email %>
                                    </p>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      <span style="font-weight: bold">
                                        Password:
                                      </span>
                                      <%= password %>
                                    </p>
                                    <table
                                      align="center"
                                      width="100%"
                                      cellpadding="0"
                                      cellspacing="0"
                                      style="
                                        box-sizing: border-box;
                                        margin: 30px auto;
                                        padding: 0;
                                        text-align: center;
                                        width: 100%;
                                      "
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            align="center"
                                            style="box-sizing: border-box"
                                          >
                                            <a
                                              href="<%= loginLink %>"
                                              style="
                                                box-sizing: border-box;
                                                border-radius: 3px;
                                                color: #fff;
                                                display: inline-block;
                                                text-decoration: none;
                                                background-color: #369ef1;
                                                border: 10px solid #369ef1;
                                                border-right: 18px solid #369ef1;
                                                border-bottom: 10px solid
                                                  #369ef1;
                                                border-left: 18px solid #369ef1;
                                              "
                                              target="_blank"
                                              >Login</a
                                            >
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <p
                                      style="
                                        box-sizing: border-box;
                                        line-height: 1.5em;
                                        margin-top: 0;
                                        text-align: left;
                                      "
                                    >
                                      This password reset link will expire in 60
                                      minutes. If you did not request a password
                                      reset, no further action is required.
                                    </p>
                                  </span>
                                  <table
                                    width="100%"
                                    cellpadding="0"
                                    cellspacing="0"
                                    style="
                                      box-sizing: border-box;
                                      border-top: 1px solid #edeff2;
                                      margin-top: 25px;
                                      padding-top: 25px;
                                    "
                                  >
                                    <tbody>
                                      <tr>
                                        <td style="box-sizing: border-box">
                                          <p
                                            style="
                                              box-sizing: border-box;
                                              line-height: 1.5em;
                                              margin-top: 0;
                                              text-align: left;
                                              max-width: 500px;
                                            "
                                          >
                                            If you’re having trouble clicking
                                            the "Login" button, copy and paste
                                            the URL below into your web browser:
                                            <a
                                              href="<%= loginLink %>"
                                              style="
                                                box-sizing: border-box;
                                                color: #3869d4;
                                                display: inline-block;
                                                word-wrap: break-word;
                                                max-width: 100%;
                                              "
                                              target="_blank"
                                              ><%= loginLink %>
                                            </a>
                                          </p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <span class="im">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    style="
                      box-sizing: border-box;
                      font-family: Open Sans, -apple-system, BlinkMacSystemFont,
                        Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
                      border-collapse: collapse;
                      width: 100%;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            box-sizing: border-box;
                            font-family: Open Sans, -apple-system,
                              BlinkMacSystemFont, Roboto, Helvetica Neue,
                              Helvetica, Arial, sans-serif;
                            padding-top: 48px;
                            padding-bottom: 48px;
                          "
                        >
                          <table
                            cellspacing="0"
                            cellpadding="0"
                            style="
                              box-sizing: border-box;
                              font-family: Open Sans, -apple-system,
                                BlinkMacSystemFont, Roboto, Helvetica Neue,
                                Helvetica, Arial, sans-serif;
                              border-collapse: collapse;
                              width: 100%;
                              color: #9eb0b7;
                              text-align: center;
                              font-size: 13px;
                            "
                          >
                            <tbody>
                              <tr>
                                <td
                                  align="center"
                                  style="
                                    box-sizing: border-box;
                                    font-family: Open Sans, -apple-system,
                                      BlinkMacSystemFont, Roboto, Helvetica Neue,
                                      Helvetica, Arial, sans-serif;
                                    padding-bottom: 16px;
                                  "
                                >
                                  <table
                                    cellspacing="0"
                                    cellpadding="0"
                                    style="
                                      box-sizing: border-box;
                                      font-family: Open Sans, -apple-system,
                                        BlinkMacSystemFont, Roboto,
                                        Helvetica Neue, Helvetica, Arial,
                                        sans-serif;
                                      border-collapse: collapse;
                                      width: auto;
                                    "
                                  >
                                    <tbody>
                                      <tr></tr>
                                      <tr>
                                        <td
                                          style="
                                            box-sizing: border-box;
                                            font-family: Open Sans,
                                              -apple-system, BlinkMacSystemFont,
                                              Roboto, Helvetica Neue, Helvetica,
                                              Arial, sans-serif;
                                            padding-top: 16px;
                                          "
                                        >
                                          This is an automatic email. Ovioo, Inc
                                          2023.
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <input
          type="hidden"
          name="task_hash"
          value="}"
          style="box-sizing: border-box"
        />
      </td>
    </tr>
  </tbody>
</table>
